<div class="mb-5">
    <twig:Post:ActionsVote post="{{ this.post }}" />

    <button class="btn btn-secondary rounded-pill btn-sm">
        <i class="fa-solid fa-comment"></i>
        Commentaires
    </button>
    <button class="btn btn-secondary rounded-pill btn-sm">
        <i class="fa-solid fa-medal"></i>
    </button>
    <button class="btn btn-secondary rounded-pill btn-sm">
        <i class="fa-solid fa-share"></i>
        Partager
    </button>
</div>